        body {
            font-family: Arial, sans-serif;
            background-color: #FFF8E7;
            padding: 30px;
        }

        h2 {
            text-align: center;
            margin: 30px 0;
            color: #5C3A21;
        }

        .filter-box {
            background: #ddbc8b;            
            padding: 15px;
            border-radius: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(92,58,33,0.25);
}

        .filter-box input {
            padding: 8px 10px;
            margin-right: 10px;
            border-radius: 12px;
            border: none;
            outline: none;
            background: #FFF8E7;               
            color: #5C3A21;
            font-weight: 500;
}
        .btn {
            padding: 7px 14px;
            background: #8c4209;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

         .page-content {
            margin-left: 260px; 
}

        
        table {
            width: 100%;
            margin: auto;
            border-collapse: collapse;
            background: #ddbc8b;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 12px 12px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 20px;
            border-bottom: 10px solid #c9a96b;
            text-align: center;
        }

        th {
            background: #5C3A21;
            color: #fff;
        }

        tr:last-child td {
            border-bottom: none;
        }

        .status-success {
            color: green;
            font-weight: bold;
        }

        .status-pending {
            color: orange;
            font-weight: bold;
        }

        .status-failed {
            color: red;
            font-weight: bold;
        }