* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F3E7DA;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background: radial-gradient(circle at top left, #2B170A, #5C3A21 45%, #A47148 85%);
    color: white;
    display: block;
    overflow-y: auto;    
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 15px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 0;
    padding: 20px 0;
    overflow: hidden;
}

.sidebar.show {
    left: 0;
}

.hamburger {
    display: none;
    position: fixed;
    top: 18px;
    left: 18px;
    font-size: 20px;
    background: #5C3A21;
    color: #FFD8B4;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1200;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}



.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    margin-bottom: 8px;
}

.logo h3 {
    margin-top: 10px;
    color: #FFD8B4;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 18px 0; 
}

.menu li a {
    display: flex;         
    align-items: center;
    padding: 12px 10px;
    background: linear-gradient(135deg, #E6B48A, #C68642);
    color: #2B170A;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(230, 180, 120, 0.6);
    text-decoration: none;   
    transition: 0.3s;
    font-weight: 600;
}

.menu li a:hover {
    background: linear-gradient(135deg, #FFD8B4, #E6B48A);
    box-shadow: 0 0 18px rgba(255, 216, 180, 0.9);
    transform: translateX(5px);
}

.menu li i {
    margin-right: 10px;
}

.submenu {
    list-style: none;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
    display: none;
}



.submenu li a{
    padding: 8px 10px;
    margin: 6px 0;
    background: #3B1F0F;
    color: #FFD8B4;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.submenu li a:hover {
    background: #ae672d;
    color: #2B170A;
}

.main {
    margin-left: 260px;
    padding: 20px;
    min-height: 100vh;
    background: #FFF8E7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    padding: 15px 20px;
    border-radius: 12px;
    color: #5C3A21;
    box-shadow: 0 0 10px rgba(92, 58, 33, 0.25);
    transition: all 0.3s ease;
}

.alert-icon {
    font-size: 22px;
    cursor: pointer;
    color: #5C3A21;
    transition: 0.3s;
}

.alert-icon:hover {
    color: #af8156;
}

.content-area {
    margin-top: 30px;
    color: #5C3A21;
    font-weight: 600;
}


@media (max-width: 1024px) {
    .sidebar {
        width: 220px;
    }

    .main {
        margin-left: 220px;
    }
}

@media (max-width: 768px) {

    .sidebar {
        transform: translateX(-100%);
        overflow-y: auto;     
    overflow-x: hidden;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .main {
        margin-left: 0;
        padding: 20px;
        padding-top: 80px;
    }

      .menu li a,
    .submenu li a {
        display: block;          
        width: 100%;             
        padding: 15px 20px;      
        font-size: 16px;          
        border-radius: 10px;      
        box-sizing: border-box;   
        text-align: left;        
    }

    .hamburger {
        display: block;
    }
}
