        body {
            font-family: Arial, sans-serif;
            background-color: #FFF8E7;
            padding: 20px;
        }

        h2 {
            text-align: center;
            margin: 20px 0;
            color: #5C3A21;
        }

        .profile-card {
            background: #ddbc8b;
            max-width: 500px;
            margin: auto;
            padding: 25px;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .profile-img {
            display: block;
            margin: auto;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #5C3A21;
        }

        label {
            font-weight: bold;
            color: #5C3A21;
            margin-top: 10px;
            display: block;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 12px;
            border: none;
            outline: none;
        }

        input[type="file"] {
            margin-top: 8px;
        }


    .save-btn {
            width: 100%;
            margin-top: 20px;
            background: #5C3A21;
            color: #fff;
            border: none;
            padding: 12px;
            border-radius: 25px;
            cursor: pointer;
            font-size: 15px;
        }

        .save-btn:hover {
           background:#9d6e4c; transform:scale(1.03); 
        }

        .success-msg {
            max-width: 500px;
            margin: 15px auto;
            padding: 12px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            border-radius: 12px;
            font-weight: bold;
        }

