/* ===== BASE RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFF8E7;
}

/* ===== MAIN CONTENT ===== */
.main-content {
    margin-left: 260px; /* space for sidebar */
    padding: 30px;
    min-height: 100vh;
}

/* ===== TITLE ===== */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5C3A21;
}

/* ===== PROFILE CARD ===== */
.profile-card {
    background: #ddbc8b;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ===== PROFILE IMAGE ===== */
.profile-img {
    display: block;
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #5C3A21;
}

/* ===== FORM ===== */
label {
    font-weight: bold;
    color: #5C3A21;
    margin-top: 12px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 12px;
    border: none;
    outline: none;
}

input[type="file"] {
    margin-top: 8px;
}

/* ===== BUTTON ===== */
.save-btn {
    width: 100%;
    margin-top: 20px;
    background: #5C3A21;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
}

.save-btn:hover {
    background: #9d6e4c;
    transform: scale(1.03);
}

/* ===== SUCCESS MESSAGE ===== */
.success-msg {
    max-width: 500px;
    margin: 15px auto;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
}


@media (min-width: 768px) and (max-width: 991px) {

    .main-content {
        margin-left: 260px; 
        padding: 20px;
        
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
         max-width: 900px;
         width: 100%;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }
}


@media (max-width: 767px) {

    .main-content {
        margin-left: 0; 
        padding: 15px;
    }

    .profile-card {
        max-width: 100%;
        padding: 15px;
        border-radius: 16px;
    }

    .profile-img {
        width: 100px;
        height: 100px;
        border-width: 2px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 13px;
        padding: 8px;
    }

    .save-btn {
        font-size: 13px;
        padding: 10px;
    }

    .success-msg {
        max-width: 100%;
        font-size: 13px;
    }
}