body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FFF8E7;
    padding:50px;
    margin-left:120px;
}

.container {
    width: 100%;
    max-width: 650px;
    background: white;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5C3A21;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

input, select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
}

.full {
    grid-column: 1 / 3;
}

button {
    grid-column: 1 / 3;
    padding: 12px;
    background: #5C3A21;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background:#9d6e4c;
}


.success-msg {
    grid-column: 1 / 3;
    background: #d4edda;
    color: #155724;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

.error-msg {
    grid-column: 1 / 3;
    background: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    resize: vertical;
}

@media (max-width: 1024px) {
    body { padding: 20px; margin-left: 220px; }
}
@media screen and (max-width: 768px) {

    body {
        margin-left: 0;          
        padding: 15px;
    }

    .container {
        margin: 20px auto;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    h2 {
        font-size: 22px;
    }

    form {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .full {
        grid-column: 1 / 2;
    }

    input,
    select,
    textarea {
        font-size: 15px;
        padding: 10px;
    }

    button {
        grid-column: 1 / 2;
        font-size: 16px;
        padding: 12px;
    }

    .success-msg,
    .error-msg {
        grid-column: 1 / 2;
        font-size: 14px;
    }
}

