* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color:  #FFF8E7;
}

/* Sidebar */
.sidebar {
    width: 260px;
    height: 100vh;
     background: radial-gradient(circle at top left, #0b2e23, #135c3b 40%, #1c7c54 80%);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 15px;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #ffffff33;
    padding: 10px;
}

.logo h3 {
    margin-top: 10px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px 10px;
   margin: 20px 0; 
    background: #94d8a8;
    color: #0a0a0a;
    border-radius: 6px;
    cursor: pointer;
     box-shadow: 0 0 10px #94d8a8;
  transition: 0.3s;
}

.menu li:hover {
   background: #a9e5b9;
    box-shadow: 0 0 15px #94d8a8, 0 0 25px #94d8a8;
}

.menu li i {
    margin-right: 10px;
}

.submenu {
    margin-top: 8px;
    margin-left: 0;
    padding-left: 20px;
}


.submenu {
    list-style: none;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
    display: none;   
}

.submenu li {
    padding: 8px 10px;
    margin: 6px 0;
    background:  #1c7c54;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    
}

.submenu li:hover {
    background: #ffb703;
}


/* Main */
.main {
     margin-left: 260px;
    padding: 20px;
    height: 100vh;
    background-image: url("/paws&protect/includes/image/animal.png");
    background-size: cover;                     
    background-position: center;                
    background-repeat: no-repeat; 
}

/* Top Bar */
.topbar {
    display: flex;
    justify-content: space-between;
    background: #eef1f4;
    padding: 15px 20px;
    border-radius: 10px;
    align-items: center;
    color:  #1c7c54;
}

.alert-icon {
    font-size: 22px;
    cursor: pointer;
    color: #135c3b;
}

/* Content */
.content-area {
    margin-top: 30px;
    color:  #1c7c54;
}

