body {
    background-color: #FFF8E7;
    font-family: Arial, sans-serif;
    margin-left: 260px;
    padding: 20px;
}

.page-title {
    text-align: center;
    color: #5C3A21;
    margin: 30px 0 15px;
}


.filter-box {
    max-width: 500px;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-box select {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
}

.filter-box button {
    padding: 8px 16px;
    background: #5C3A21;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filter-box button:hover {
    background: #9d6e4c;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.animal-card {
    background: #ddbc8b;
    padding: 15px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.animal-card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 6px;
}

.animal-card h3 {
    text-align: center;
    margin: 6px 0;
    color: #3e2c1c;
    font-size: 25px;
}

.animal-card p {
    margin: 4px 0;
    color: #5c3a21;
    font-size: 20x;
}

.status {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 14px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.available {
    background-color: #2ea44aff;
    color: #fafafaff;
}

.adopted {
    color: #d1ecf1;
    background: #278899ff;
}

.not_available {
    color: #f8d7da;
    background: #e48891ff;
}

.no-data {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {

    body {
        margin-left: 0;
        padding: 15px;
    }

    .page-title {
        font-size: 22px;
        margin-top: 15px;
    }

    .filter-box {
        flex-direction: column;
        max-width: 100%;
        gap: 12px;
    }

    .filter-box select,
    .filter-box button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .card-grid {
        justify-content: center;
        gap: 15px;
    }

    .animal-card {
        width: 100%;
        max-width: 340px;
        padding: 14px;
    }

    .animal-card img {
        width: 100%;
        height: 100%;
    }

    .animal-card h3 {
        font-size: 20px;
    }

    .animal-card p {
        font-size: 15px;
    }

    .status {
        font-size: 13px;
        padding: 6px 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    body {
        margin-left: 250px;
         padding: 25px;
    }

    .page-title {
        font-size: 26px;
        margin-top: 20px;
    }

    .filter-box {
        max-width: 600px;
        gap: 12px;
    }

    .filter-box select,
    .filter-box button {
        font-size: 16px;
        padding: 10px;
    }

    .card-grid {
        gap: 18px;
        justify-content: center;
    }

    .animal-card {
        width: 280px;
        padding: 16px;
    }

    .animal-card img {
        width: 100%;
        height: 210px;   
        object-fit: cover;
        border-radius: 10px;
    }

    .animal-card h3 {
        font-size: 22px;
    }

    .animal-card p {
        font-size: 16px;
    }

    .status {
        font-size: 14px;
        padding: 6px 14px;
    }
}