* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #FFF8E7;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #94d8a8;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

    header .logo img {
        height: 100px;
    }


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

    .nav-links a {
        color: #1c7c54;
        text-decoration: none;
        font-weight: bold;
    }

        .nav-links a:hover {
            color: #FFF8E7;
        }


.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.mobile-nav {
    display: none;
    flex-direction: column;
    background: #1c7c54;
    padding: 15px;
}

    .mobile-nav a {
        color: white;
        padding: 10px 0;
        text-decoration: none;
    }

        .mobile-nav a:hover {
            color: #FFA500;
        }

    .mobile-nav.active {
        display: flex;
    }


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

.hero img {
    position: relative;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1.8s ease-out forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.hero-text {
    position: absolute;
    bottom: 15%;
    left: 40px;
    color: #94d8a8;
    font-size: clamp(18px, 6vw, 48px);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}




footer {
    background: #94d8a8;
    text-align: center;
    padding: 20px 10px;
}

    footer img {
        height: 80px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    footer .right a {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 6px;
        text-align: center;
        background-color: #333;
        color: #fff;
        border-radius: 50%;
        font-size: 18px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        footer .right a:hover {
            background-color: #1c7c54;
            transform: scale(1.1);
        }