       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       header {
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 10px 30px;
           background: #9d6e4c;
           color: black;
           position: sticky;
           top: 0;
           z-index: 1000;
       }

       header .logo img {
           height: 100px;
       }


       .nav-links {
           list-style: none;
           display: flex;
           gap: 20px;
       }

       .nav-links a {
           color: #5C3A21;
           text-decoration: none;
           font-weight: bold;
       }

       .nav-links a:hover {
           color: #FFF8E7;
       }


       .menu-toggle {
           display: none;
           font-size: 24px;
           cursor: pointer;
       }


       .mobile-nav {
           display: none;
           flex-direction: column;
           background: #5C3A21;
           padding: 15px;
       }

       .mobile-nav a {
           color: white;
           padding: 10px 0;
           text-decoration: none;
       }

       .mobile-nav a:hover {
           color: #FFA500;
       }

       .mobile-nav.active {
           display: flex;
       }


       @media (max-width: 768px) {
           .nav-links {
               display: none;
           }

           .menu-toggle {
               display: block;
           }
       }

       body {
           font-family: Arial;
           background: #FFF8E7;
       }

       .donation-box {
           width: 450px;
           padding: 25px;
            background: #5C3A21;
           border-radius: 12px;
           margin: 10px auto;
           box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
       }

       label {
         color:  rgb(223, 218, 214);
           font-weight: bold;
       }

       input,
       select {
           width: 100%;
           padding: 10px;
           margin: 8px 0 15px 0;
           border-radius: 5px;
           border: 1px solid #999;
       }

       button {
           width: 100%;
           padding: 12px;
           background: #d2a382ff;
           color: #5C3A21;
            font-size: 15px;
            border: none;
            cursor: pointer;
       }

       button:hover {
           background:#FFA500;
       }

       .error {
           color: red;
           font-size: 14px;
           margin-bottom: 10px;
           text-align: center;
       }

       #overlay {
           display: none;
           position: fixed;
           top: 0;
           left: 0;
           width: 100vw;
           height: 100vh;
           backdrop-filter: blur(5px);
           background: rgba(0, 0, 0, 0.4);
           z-index: 9998;
       }

       #cardModal {
           display: none;
           position: fixed;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           background: #fff;
           padding: 30px;
           width: 90%;
           max-width: 420px;
           border-radius: 12px;
           z-index: 9999;
           text-align: center;
       }

       #otpSection {
           display: none;
           margin-top: 10px;
       }

       #result {
           margin-top: 15px;
           font-weight: bold;
           text-align: center;
       }

       .page-title {
           font-family: 'Brush Script MT', cursive;
           font-size: 3rem;
           color: #5C3A21;
           margin-bottom: 20px;
           text-align: center;
           margin: 30px 0 15px;
       }

       @media (max-width: 768px) {


           .donation-box {
               width: 95%;
               padding: 20px;
               margin: 20px auto;
           }

           label,
           input,
           select,
           button {
               font-size: 14px;
               padding: 10px;
           }

           

           #cardModal {
               width: 90%;
               padding: 20px;
           }
       }

       @media (max-width: 480px) {
           .donation-box {
               padding: 15px;
           }

           h2.page-title {
               font-size: 22px;
           }

           button {
               padding: 10px;
               font-size: 14px;
           }

           #cardModal input {
               font-size: 13px;
           }

           #cardModal h3 {
               font-size: 18px;
           }
       }

       footer {
           background: #9d6e4c;
           text-align: center;
           padding: 20px 10px;
       }

       footer img {
           height: 80px;
           max-width: 100%;
           margin-bottom: 10px;
       }

       footer .right a {
           display: inline-block;
           width: 40px;
           height: 40px;
           line-height: 40px;
           margin: 0 6px;
           text-align: center;
           background-color: #333;
           color: #fff;
           border-radius: 50%;
           font-size: 18px;
           transition: background-color 0.3s ease, transform 0.2s ease;
       }

       footer .right a:hover {
           background-color: #5C3A21;
           transform: scale(1.1);
       }