@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at top left, #0b2e23, #135c3b 40%, #1c7c54 80%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 400px;
  padding:  20px 30px;
  border-radius: 20px;
   box-shadow: 0 0 30px 3px rgba(148, 216, 168, 0.6);
  background: rgba(15, 61, 46, 0.9);
  backdrop-filter: blur(15px);
  text-align: center;
  color: #fff;
}




.logo-container img {
 width: 100px;
  height: 100px;
  object-fit: contain;
  
}


.form-box h2 {
  margin-bottom: 30px;
  color: #94d8a8;
  font-weight: 600;
}
.form-box h3 {
  margin-bottom: 30px;
  color: #94d8a8;
  font-weight: 600;
}

.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 12px 0 8px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #94d8a8;
  color: #fff;
  outline: none;
  font-size: 1rem;
}

.input-box label {
  position: absolute;
  left: 0;
  top: 12px;
  color: #d1e8dc;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s;
}


.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: -12px;
  font-size: 0.8rem;
  color: #94d8a8;
}



.input-box input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  background: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}


.btn {
  width: 100%;
  padding: 12px;
  background: #94d8a8;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #0a0a0a;
  box-shadow: 0 0 15px #94d8a8;
  transition: 0.3s;
}

.btn:hover {
  background: #a9e5b9;
  box-shadow: 0 0 25px #94d8a8, 0 0 40px #94d8a8;
}


.signup-text {
  margin-top: 20px;
  color: #d1e8dc;
}

.signup-text a {
  color: #94d8a8;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}


@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 25px;
  }

  .logo-container {
    width: 80px;
    height: 80px;
  }

  .logo-container img {
    width: 50px;
  }

  .form-box h2 {
    font-size: 1.4rem;
    margin-bottom: 25px;
  }

  .btn {
    font-size: 0.95rem;
    padding: 10px;
  }

  .signup-text {
    font-size: 0.9rem;
  }
}
